.link {
  color: blue;
  text-decoration: none;
  margin: 15px 0;
  font-family: sans-serif;
}

.h3 {
  font-size: 25px;
  margin-bottom: 15px;
  font-family: sans-serif;
}

.p {
  font-size: 22px;
  font-family: sans-serif;
}

.btn {
  padding: 20px 30px;
  background-color: rgb(111 63 245);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}