@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,600|Miriam+Libre:400");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button:disabled {
    @apply bg-purple-200 py-3 text-[#5932C4];
  }
}

.font-libre-franklin {
  font-family: "Libre Franklin";
}

.font-miriam-libre {
  font-family: "Miriam Libre";
}

:root {
  --onboard-shadow-3: none;
  --account-center-position-top: -14px;
  --account-center-position-right: 4.1rem;
  --account-center-border-radius: 16px;
  --onboard-action-required-btn-text-color: #fff;
}

@media (max-width: 480px /* sm */) {
  :root {
    --account-center-position-right: 0rem;
    --onboard-modal-top: 0;
  }
}
