.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: -55px;
  color: black;
  border: 2px solid rgb(111 63 245);
  border-radius: 10px;
  padding: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}