[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
markdown = "*"
django-extensions = "*"
didkit = "*"
uvicorn = "*"
gunicorn = "*"
whitenoise = "*"
pyyaml = "*"
uritemplate = "*"
django-cors-headers = "*"
django-environ = "*"
django-ninja = "==0.22.2"
django-ninja-jwt = "*"
django-ninja-extra = "*"
web3 = "*"
siwe = "*"
psycopg2-binary = "*"
djangorestframework-api-key = "==2.*"
celery = {extras = ["redis"], version = "*"}
requests = "*"
social-auth-app-django = "*"
dag-cbor = "*"
py-cid = "*"
django-ratelimit = "*"
ninja_schema = "*"
structlog = "*"
django-structlog = "*"
django-ipware = "*"
django-debug-toolbar = "*"
django-filter = "*"
boto3 = "*"
tqdm = "*"
gql = "*"
requests-toolbelt = "*"
pyarrow = "*"
pynacl = "*"
faker = "*"

[dev-packages]
black = "*"
pre-commit = "*"
pylint = "*"
pylint-django = "*"
coverage = "*"
pytest-django = "*"
pytest-bdd = "*"
pytest-mock = "*"
django-stubs = "*"

[requires]
python_version = "3.11"
