abnf==1.1.1
aiohttp==3.8.5
aiosignal==1.3.1
amqp==5.1.1
anyio==3.7.1
asgiref==3.7.2
astroid==2.15.6
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
base58==1.0.3
bases==0.2.1
billiard==4.1.0
bitarray==2.8.1
black==23.7.0
boto3==1.28.34
botocore==1.31.34
celery==5.3.1
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
contextlib2==21.6.0
coverage==7.3.0
cryptography==41.0.3
cytoolz==0.12.2
dag-cbor==0.3.2
defusedxml==0.7.1
didkit==0.3.2
dill==0.3.7
distlib==0.3.7
Django==4.2.4
django-cors-headers==4.2.0
django-debug-toolbar==4.2.0
django-environ==0.10.0
django-extensions==3.2.3
django-filter==23.2
django-ipware==5.0.0
django-ninja==0.22.2
django-ninja-extra==0.19.1
django-ninja-jwt==5.2.5
django-ratelimit==4.1.0
django-structlog==5.3.0
django-stubs==4.2.3
django-stubs-ext==4.2.2
djangorestframework-api-key==2.3.0
dnspython==2.4.2
email-validator==2.0.0.post2
eth-abi==4.1.0
eth-account==0.8.0
eth-hash==0.5.2
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.4.0
eth-utils==2.2.0
filelock==3.12.2
frozenlist==1.4.0
gql==3.4.1
graphql-core==3.2.3
gunicorn==21.2.0
h11==0.14.0
hexbytes==0.3.1
httpcore==0.17.3
identify==2.5.27
idna==3.4
iniconfig==2.0.0
injector==0.21.0
isort==5.12.0
jmespath==1.0.1
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kombu==5.3.1
lazy-object-proxy==1.9.0
lru-dict==1.2.0
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.3
mccabe==0.7.0
morphys==1.0
multidict==6.0.4
multiformats==0.2.1
multiformats-config==0.2.0.post4
mypy==1.5.1
mypy-extensions==1.0.0
ninja-schema==0.13.2
nodeenv==1.8.0
numpy==1.25.2
oauthlib==3.2.2
packaging==23.1
pandas==2.0.3
parse==1.19.1
parse-type==0.6.2
parsimonious==0.9.0
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.2.0
pre-commit==3.3.3
prompt-toolkit==3.0.39
protobuf==4.24.1
psycopg2-binary==2.9.7
py-cid==0.3.0
py-multibase==1.0.3
py-multicodec==0.2.1
py-multihash==0.2.3
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.12
PyJWT==2.8.0
pylint==2.17.5
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pyrsistent==0.19.3
pytest==7.4.0
pytest-bdd==6.1.1
pytest-django==4.5.2
pytest-mock==3.11.1
python-baseconv==1.2.2
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3
pyunormalize==15.0.0
PyYAML==6.0.1
redis==5.0.0
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3987==1.3.8
rlp==3.0.0
rpds-py==0.9.2
s3transfer==0.6.2
siwe==2.2.0
six==1.16.0
sniffio==1.3.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
sqlparse==0.4.4
structlog==23.1.0
tomli==2.0.1
tomlkit==0.12.1
toolz==0.12.0
tqdm==4.66.1
types-pytz==2023.3.0.1
types-PyYAML==6.0.12.11
typing-validation==1.0.0.post2
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
uvicorn==0.23.2
varint==1.0.2
vine==5.0.0
virtualenv==20.24.3
wcwidth==0.2.6
web3==6.9.0
websockets==11.0.3
whitenoise==6.5.0
wrapt==1.15.0
yarl==1.9.2
